<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.yadukrishnan.u.block_monitoring_tool</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yadukrishnan.u/miniforge3/bin/python3</string>
        <string>/Users/yadukrishnan.u/Documents/Academics/Collage/Placement/Luganodes_Assignment/Monitoring-Tool-for-Cardano-Validator/main.py</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>